
Client/Ds/.vs/Ds/v15/.suo
Client/Ds/.vs/Ds/v16/.suo
Client/Ds/.vs/Ds/v16/Browse.VC.db
Client/Ds/.vs/Ds/v16/ipch/AutoPCH/309e601b85e7ba05/DSCONTROLLER_PLAY.ipch
Client/Ds/.vs/Ds/v16/ipch/AutoPCH/3938300d2ae22d9d/PAWN.ipch
Client/Ds/.vs/Ds/v16/ipch/AutoPCH/3e02eebed0c9810c/SCENECOMPONENT.ipch
Client/Ds/.vs/Ds/v16/ipch/AutoPCH/cbde747954328b07/DSGAMEMODE_PLAY.ipch
Client/Ds/.vs/Ds/v16/ipch/AutoPCH/f9b566f658848fff/DSPAWN_CAMERA.ipch
Client/Ds/.vs/Ds/v16/Solution.VC.db
Client/Ds/Binaries/Win64/DsEditor-Win64-DebugGame.target
Client/Ds/Binaries/Win64/UE4Editor-Ds-Win64-DebugGame.dll
Client/Ds/Binaries/Win64/UE4Editor-Ds-Win64-DebugGame.pdb
Client/Ds/Binaries/Win64/UE4Editor-DsCore-Win64-DebugGame.dll
Client/Ds/Binaries/Win64/UE4Editor-DsCore-Win64-DebugGame.pdb
Client/Ds/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
Client/Ds/Ds.sln
Client/Ds/Intermediate/Build/BuildRules/DsModuleRules.dll
Client/Ds/Intermediate/Build/BuildRules/DsModuleRules.pdb
Client/Ds/Intermediate/Build/BuildRules/DsModuleRulesManifest.json
Client/Ds/Intermediate/Build/SourceFileCache.bin
Client/Ds/Intermediate/Build/Unused/Ds.log
Client/Ds/Intermediate/Build/Win64/ActionHistory.bin
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/ActionHistory.bin
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/DependencyCache.bin
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/DsEditor.deps
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/DsEditor.uhtmanifest
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/DsEditor.uhtpath
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.cpp
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.obj
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch.response
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.txt
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Makefile.bin
Client/Ds/Intermediate/Build/Win64/DsEditor/DebugGame/Metadata.dat
Client/Ds/Intermediate/Build/Win64/DsEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/ActionHistory.bin
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Default.rc2.res
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Definitions.Ds.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.init.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.init.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/Ds.init.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor_ChildStruct.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor_ChildStruct.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActor_ChildStruct.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Base.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Base.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Base.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorCtrl_Visible.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Base.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Base.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Base.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Visible.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Visible.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsActorInfo_Visible.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_Attach.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_Attach.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_Attach.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_LookAt.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_LookAt.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsCameraValue_LookAt.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsController_Play.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameInstance.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsGameMode_Play.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsMgr_Actor.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsMgr_Actor.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsMgr_Actor.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPawn_Camera.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsPlayerCameraManager.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUeActor.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/DsUePawn.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/IDsUeActorInterface.gen.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/IDsUeActorInterface.gen.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/IDsUeActorInterface.gen.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/LiveCodingInfo.json
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.dll.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.exp
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.lib
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.lib.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.suppressed.exp
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/Ds/UE4Editor-Ds-Win64-DebugGame.suppressed.lib
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/Default.rc2.res
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/Definitions.DsCore.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DSAsyncLoadingMgr.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DSAsyncLoadingMgr.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DSAsyncLoadingMgr.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsClientVariableMgr.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsClientVariableMgr.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsClientVariableMgr.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsCore.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsCore.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsCore.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsFrameWorkMgr.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsFrameWorkMgr.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsFrameWorkMgr.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsHelper_Struct.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsHelper_Struct.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsHelper_Struct.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsLogMgr.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsLogMgr.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/DsLogMgr.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/IMgr.cpp.obj
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/IMgr.cpp.obj.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/IMgr.cpp.txt
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/LiveCodingInfo.json
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.dll.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.exp
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.lib
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.lib.response
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.suppressed.exp
Client/Ds/Intermediate/Build/Win64/UE4Editor/DebugGame/DsCore/UE4Editor-DsCore-Win64-DebugGame.suppressed.lib
Client/Ds/Intermediate/Build/Win64/UE4Editor/Development/Ds/Definitions.Ds.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Development/DsCore/Definitions.DsCore.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/Ds.init.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActor_ChildStruct.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActor_ChildStruct.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorCtrl_Base.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorCtrl_Base.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorCtrl_Visible.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorCtrl_Visible.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorInfo_Base.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorInfo_Base.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorInfo_Visible.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsActorInfo_Visible.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsClasses.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsController_Play.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsController_Play.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsGameInstance.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsGameInstance.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsGameMode_Play.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsGameMode_Play.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsPawn_Camera.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsPawn_Camera.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsPlayerCameraManager.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsPlayerCameraManager.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsUeActor.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsUeActor.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsUePawn.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/DsUePawn.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/IDsUeActorInterface.gen.cpp
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/IDsUeActorInterface.generated.h
Client/Ds/Intermediate/Build/Win64/UE4Editor/Inc/Ds/Timestamp
Client/Ds/Intermediate/CachedAssetRegistry.bin
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Client/Ds/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Client/Ds/Intermediate/ProjectFiles/Ds.vcxproj
Client/Ds/Intermediate/ProjectFiles/Ds.vcxproj.filters
Client/Ds/Intermediate/ProjectFiles/Ds.vcxproj.user
Client/Ds/Intermediate/ProjectFiles/UE4.vcxproj
Client/Ds/Intermediate/ProjectFiles/UE4.vcxproj.filters
Client/Ds/Intermediate/ProjectFiles/UE4.vcxproj.user
Client/Ds/Intermediate/ReimportCache/3688439234.bin
Client/Ds/Intermediate/TargetInfo.json
Client/Ds/Saved/Autosaves/PackageRestoreData.json
Client/Ds/Saved/AutoScreenshot.png
Client/Ds/Saved/Config/CrashReportClient/UE4CC-Windows-118C568547B4EE57E81DFD9BEE6A4443/CrashReportClient.ini
Client/Ds/Saved/Config/Windows/Compat.ini
Client/Ds/Saved/Config/Windows/DeviceProfiles.ini
Client/Ds/Saved/Config/Windows/Editor.ini
Client/Ds/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Client/Ds/Saved/Config/Windows/Engine.ini
Client/Ds/Saved/Config/Windows/Game.ini
Client/Ds/Saved/Config/Windows/GameUserSettings.ini
Client/Ds/Saved/Config/Windows/Hardware.ini
Client/Ds/Saved/Config/Windows/Input.ini
Client/Ds/Saved/Config/Windows/Lightmass.ini
Client/Ds/Saved/Config/Windows/LiveLink.ini
Client/Ds/Saved/Config/Windows/MagicLeap.ini
Client/Ds/Saved/Config/Windows/MagicLeapLightEstimation.ini
Client/Ds/Saved/Config/Windows/MotoSynth.ini
Client/Ds/Saved/Config/Windows/Niagara.ini
Client/Ds/Saved/Config/Windows/OculusVR.ini
Client/Ds/Saved/Config/Windows/Paper2D.ini
Client/Ds/Saved/Config/Windows/PhysXVehicles.ini
Client/Ds/Saved/Config/Windows/PostSplashScreen.ini
Client/Ds/Saved/Config/Windows/RuntimeOptions.ini
Client/Ds/Saved/Config/Windows/Scalability.ini
Client/Ds/Saved/Config/Windows/Synthesis.ini
Client/Ds/Saved/Config/Windows/UnrealInsightsSettings.ini
Client/Ds/Saved/Config/Windows/VariantManagerContent.ini
Client/Ds/Saved/Logs/Ds.log
Client/Ds/Saved/Logs/UnrealVersionSelector-2021.10.13-22.51.15.log
Client/Ds/Saved/Logs/UnrealVersionSelector-2021.12.20-21.27.40.log
